#canvas{
	color:black;
	background-color: black;
}

.rectangle{
	border: 1px solid #FF0000;
	position: absolute;
}

#center{
	width: 800px;
	margin: 0 auto;
}


#left{
	float:left;
}

#settings{
	float: right;
}

.settings{
  position: absolute;
  right: -100%;
}
.panel {
  padding: 20px;
  background: #34495e;
  float: right;
  color: white;
  position: absolute;
  right: 0;
  -webkit-transition: right .75s;
  transition: right .75s;
}

.panel .tab{
  position: absolute;
  width: 40px;
  height: 40px;
  background: red;
  left: -40px;
  top: 0;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  background: #2c3e50;
}

.tab:hover{
	cursor:pointer;
}

.panel p{
  margin: 10px 0 10px 0;
}

#options{
	margin-top: -47px;
}
.panel button{
  display: block;
  margin: 10px 0 0 0;
  float: right;
  border: 0;
  padding: 5px;
  background: #8e44ad;
}

.panel.hide{
  right: -220px;
}